@font-face {
  font-family: Heebo-Bold;
  src: url(../assets/fonts/Heebo-Bold.ttf);
}
@font-face {
  font-family: Heebo-Medium;
  src: url(../assets/fonts/Heebo-Medium.ttf);
}
@font-face {
  font-family: Heebo-Regular;
  src: url(../assets/fonts/Heebo-Regular.ttf);
}
