$color-white: #fff;
$color-dark: #2b2c2f;
$text-black-900: #000000;
$text-black-700: #21243d;
$text-black-500: #8695a4;
$primary: #ff6464;
$cyan-500: #edf7fa;
$secondry: #00a8cc;
$dark-blue: #142850;
$gray: #e0e0e0;

$tablet-width: 1199px;
$tablet2-width: 991px;
$mobile-width: 767px;
